@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1E90FF;
    --secondary-color: #FFD700;
    --text-color: #333;
    --background-color: #F5F5F5;
}

body {
    background-color: #1E90FF;
}

h1 {
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

.mt-10 {
    margin-top: 9rem;
}

.menu-image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.menu-card {
    background-color: var(--background-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    list-style-position: inside;
    box-shadow: rgba(50, 201, 16, 0.5);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.menu-card ul {
    text-align: start;
    margin-top: 25px;
}

.person-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 10px;
}

.review-card {
    width: 240px;
    height: 240px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
}

.review-card h2 {
    font-size: 24px;
    margin-top: 10px;
}

.gap-10 {
    gap: 100px;
}



/* .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
} */

/* h1 {
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 50px;
    width: 80%;
    gap: 20px;
    border-radius: 35px;
}

header {
    height: 25vh;
    width: auto;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Libre Baskerville', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.hero {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
}

.order-btn {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 94px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 240px;
    height: 60px;
}

footer {
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.welcome-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    padding: 50px;
    width: 100%;
    height: auto;
}

.text-content {
    width: 50%;
    padding-right: 20px;
    text-align: end;
    margin-right: 20px;
}

.text-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 18px;
    line-height: 1.5;
}

.video-container {
    width: 500px;
    display: flex;
    justify-content: center;
}

.menu-section {
    background-color: var(--primary-color);
    text-align: center;
    padding: 50px 20px;
    height: 100%;
}

.menu-section h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 66px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.menu-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 18rem;
    height: auto;
    border-radius: 15px;
    text-align: center;
}

.menu-image {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.menu-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.menu-card p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.menu-card ul {
    margin-top: 25px;
    list-style-type: disc;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: start;
}

.menu-card ul li {
    font-size: 14px;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.reviews-section {
    background-color: #0a0a0a;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.reviews-section h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 50px;
}

.reviews-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.review-card {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    width: 240px;
    height: 240px;
    text-align: center;
}


.person-image {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.review-card h2 {
    font-size: 18px;
    color: white;
    margin-top: 22px;
    margin-bottom: 16px;
}

.review-card p {
    font-size: 14px;
    color: white;
    margin-bottom: 31px;
}

.faq-section {
    background-color: var(--primary-color);
    text-align: center;
    padding: 50px 20px;
    color: white;
    width: 100%;
    height: 100%;
}

.faq-section h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    font-weight: bold;
    font-size: 18px;
}

.faq-answer {
    font-size: 16px;
}

.booking-section {
    background-color: #000;
    color: white;
    padding: 40px 20px;

}

.booking-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.booking-text h2 {
    font-size: 24px;
    font-weight: 600;
}

.booking-text p {
    font-size: 16px;
    margin-top: 8px;
}

.cta-button {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    transition: background 0.3s;
}


.footer {
    background-color: #1E90FF;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    max-width: 1000px;
    width: 100%;
    justify-content: space-evenly;
    text-align: left;
}

.footer-column {
    flex: 1;
    margin: 0 15px;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
}

.footer-column p {
    font-size: 14px;
    color: black;
    line-height: 1.5;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.footer-column ul {
    list-style-type: disc;
    padding-left: 20px;
}

.footer-column ul li {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Plus Jakarta Sans';
}

@media (max-width: 1024px) {
    .reviews-container {
        max-width: 700px;
    }

    .review-card {
        width: 300px;
        height: 300px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .welcome-section {
        flex-direction: column;
    }

    .text-content {
        text-align: center;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .video-container {
        width: 50%;
    }

    .menu-card {
        width: 40%;
        height: 100%;
    }

    .menu-card img {
        width: 100px;
        height: 100px;
    }

    .reviews-section {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .reviews-container {
        gap: 50px;
    }

    .review-card {
        display: flex;
        flex-direction: column;
        width: 50vh;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    .review-card img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .review-card h2 {
        margin: 12px 0 12px 0;
    }

    .review-card p {
        display: flex;
        max-width: 200px;
        text-align: center;
    }

    .faq-container {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        width: 90%;
        margin-top: 100px;
    }

    .nav-links {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links ul {
        margin-bottom: 100px;

    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .welcome-section h1 {
        margin: 0px 20px 20px 20px;
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .menu-card {
        width: 90%;
        height: auto;
    }

    .menu-image {
        width: 80px;
        height: 80px;
    }

    .welcome-section {
        flex-direction: column;
        padding: 20px;
    }

    .text-content {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .video-container {
        width: 100%;
        margin-top: 20px;
    }

    .reviews-container {
        flex-direction: column;
        gap: 30px;
    }

    .review-card {
        width: 75vw;
        height: auto;
        padding: 20px;
    }

    .faq-section h1 {
        margin: 0 20px 20px 20px;
    }

    .faq-container {
        margin: 0 20px 20px 20px;
    }

    .booking-container {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
} */